@charset "UTF-8";

body{
    background-color: #fff;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

h1{
    color: #202020;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
    margin-left: 10px;
}