@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.displayNone {
  display: none;
}

.corAzul {
  color: #1877f2;
}

.bordaRed {
  border-bottom: 2px solid red;
}
