@charset "UTF-8";

#conteudo{
    background-color: #dcdcdc;
    display: flex;
    height: 600px;
}

.item{
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 1px solid gray;
    margin: 10px;
}

.item-1{
    flex-grow: 1;
    height: 100%;
}

.item-2{
    flex-grow: 8;
}